#!/bin/csh
#
# dog.config
#

source ./Configuration

# data directory
setenv DATADIR               ${EGDATADIR}/output/cattle

# archive directory
setenv ARCHIVEDIR            ${EGDATADIR}/archive/cattle

# reports directory
setenv REPORTSDIR	     ${ENTREZGENELOAD}/cattle

# Organism Key
setenv ORGANISM    11

# Taxinomic ID
setenv TAXID ${CATTLETAXID}

# EntrezGene Synonym Type
setenv SYNTYPEKEY    1029

# List of comma-separated logical db keys to delete by EG reference
setenv DELLOGICALDBBYREF	"${LOGICALREFSEQKEY},${LOGICALSPKEY}"

# List of comma-separated logical db keys to delete by logical DB only
# Set to "99999" if none exist to delete
setenv DELLOGICALDB	"99999"

