#!/bin/csh -f
#
# chicken.config
#

source ./Configuration

# data directory
setenv DATADIR               ${EGDATADIR}/output/chicken

# archive directory
setenv ARCHIVEDIR            ${EGDATADIR}/archive/chicken

# reports directory
setenv REPORTSDIR	     ${ENTREZGENELOAD}/chicken

# Organism Key
setenv ORGANISM    63

# Taxinomic ID
setenv TAXID ${CHICKENTAXID}

# EntrezGene Synonym Type
setenv SYNTYPEKEY    1029

# List of comma-separated logical db keys to delete by EG reference
setenv DELLOGICALDBBYREF	"${LOGICALREFSEQKEY},${LOGICALSPKEY}"

# List of comma-separated logical db keys to delete by logical DB only
# Set to "99999" if none exist to delete
setenv DELLOGICALDB	"99999"

