#!/bin/csh
#
# chimpanzee.config
#

source ./Configuration

# data directory
setenv DATADIR               ${EGDATADIR}/output/chimpanzee

# archive directory
setenv ARCHIVEDIR            ${EGDATADIR}/archive/chimpanzee

# reports directory
setenv REPORTSDIR	     ${ENTREZGENELOAD}/chimpanzee

# Organism Key
setenv ORGANISM    10

# Taxinomic ID
setenv TAXID ${CHIMPTAXID}

# EntrezGene Synonym Type
setenv SYNTYPEKEY    1026

# List of comma-separated logical db keys to delete by EG reference
setenv DELLOGICALDBBYREF	"${LOGICALREFSEQKEY},${LOGICALSPKEY}"

# List of comma-separated logical db keys to delete by logical DB only
# Set to "99999" if none exist to delete
setenv DELLOGICALDB	"99999"

