#!/bin/csh
#
# dog.config
#

source ./Configuration

# data directory
setenv DATADIR               ${EGDATADIR}/output/dog

# archive directory
setenv ARCHIVEDIR            ${EGDATADIR}/archive/dog

# reports directory
setenv REPORTSDIR	     ${ENTREZGENELOAD}/dog

# Organism Key
setenv ORGANISM    13

# Taxinomic ID
setenv TAXID 9615

# EntrezGene Synonym Type
setenv SYNTYPEKEY    1024

# List of comma-separated logical db keys to delete by EG reference
setenv DELLOGICALDBBYREF	"${LOGICALREFSEQKEY},${LOGICALSPKEY}"

# List of comma-separated logical db keys to delete by logical DB only
setenv DELLOGICALDB	""

