#!/bin/csh
#
# human.config
#

source ./Configuration

# data directory
setenv DATADIR               ${EGDATADIR}/output/human

# archive directory
setenv ARCHIVEDIR            ${EGDATADIR}/archive/human

# reports directory
setenv REPORTSDIR	     ${ENTREZGENELOAD}/human

# Organism Key
setenv ORGANISM    2

# Taxinomic ID
setenv TAXID ${HUMANTAXID}

# Private flag for OMIM ID
setenv OMIMPRIVATE 0

# Private flag for HGNC ID
setenv HGNCPRIVATE 0

# EntrezGene Synonym Type
setenv SYNTYPEKEY    1012

# List of comma-separated logical db keys to delete by EG reference
setenv DELLOGICALDBBYREF	"${LOGICALREFSEQKEY},${LOGICALSPKEY}"

# List of comma-separated logical db keys to delete by logical DB only
setenv DELLOGICALDB		"${LOGICALHGNCKEY},${LOGICALOMIMKEY}"

