#!/bin/csh -f
#
# xenopus.config
#

source ./Configuration

# data directory
setenv DATADIR               ${EGDATADIR}/output/xenopus

# archive directory
setenv ARCHIVEDIR            ${EGDATADIR}/archive/xenopus

# reports directory
setenv REPORTSDIR	     ${ENTREZGENELOAD}/xenopus

# Organism Key
setenv ORGANISM    95

# Taxinomic ID
setenv TAXID ${XENOPUSTAXID}

# EntrezGene Synonym Type
setenv SYNTYPEKEY    1029

# List of comma-separated logical db keys to delete by EG reference
setenv DELLOGICALDBBYREF	"${LOGICALREFSEQKEY},${LOGICALSPKEY}"

# List of comma-separated logical db keys to delete by logical DB only
# Set to "99999" if none exist to delete
setenv DELLOGICALDB	"99999"

